#canvas {
    padding: 0;
    margin: auto;
    display: block;
    border: none;
}

h1 {
    text-align: center;
}

button {
    cursor: pointer;
}

#buttons {
    text-align: center;
}

.status {
    padding: 5px 20px;
    background-color: #337ab7;
    border-style: none;
    width: 100px;
    height: auto;
}

.clear {
    padding: 5px 20px;
    background-color: tomato;
    border-style: none;
    width: 100px;
    height: auto;
}

#player {
    text-align: center;
    padding-bottom: 20px;
    padding-top: 20px;
}

#playDisplay {
    display: inline-block;
    cursor: pointer;
    /* カーソル形状 */
    width: 100px;
}