#canvas {
    position: absolute;
    top:400px;
    bottom: 0;
    left: 0;
    right: 0;
    margin:auto;
}
h1{
    text-align: center;
}
#buttons{
    text-align: center;
}
.status {
    padding: 5px 20px;
    background-color: #337ab7;
    border-style: none;
    width: 100px;
    height: auto;
}
.clear {
    padding: 5px 20px;
    background-color: tomato;
    border-style: none;
    width: 100px;
    height: auto;
}
body{
    background-color: sandybrown;
}
#player{
    text-align: center;
    padding-bottom: 20px;
    padding-top: 20px;
}
#play{
    width: 100px;
}
#playDisplay{
    background-color: sandybrown;
    
    border-style: none;
}